language: php

php:
  - 7.2
  - 7.3
  - 7.4

before_script:
  - pecl install grpc
  - composer install --prefer-dist --no-interaction --no-suggest

script:
  - vendor/bin/php-cs-fixer fix --dry-run --stop-on-violation --config-file=.php_cs .
  - vendor/bin/phpunit --testsuite=unit --coverage-clover=coverage.xml


after_success:
  - bash <(curl -s https://codecov.io/bash)

cache:
  directories:
    - $HOME/.composer/cache
